* {
  margin: 0;
  padding: 0;
}

.top-bar {
  background: rgb(36, 46, 94);
  color: #fff;
  padding: 1rem;
}

.btn {
  background: rgb(255, 188, 65);
  color: rgb(61, 33, 33);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.7rem 2rem;
}

.btn:hover {
  opacity: .8;
  color: rgb(241, 43, 16);
}

.page-info {
  margin-left: 1rem;
}

.error {
  background: orangered;
  color: #fff;
  padding: 1rem;
}
