body {
	background:#fff;
	margin:0;
	padding:0;
	font-family:'Open Sans','Helvetica Neue',Arial,sans-serif;
}
main {
	width:352px;
	margin:20px auto;	
}
h1, p, h4 {
	text-align:center;
	margin:0;
	padding:0;
}
h4 {
	margin-bottom:10px;
}
p {
	height:20px;
	line-height:20px;
	font-size:18px;
}
table {
	background:#fff;
	margin:10px auto 20px auto;
	padding:0;
	
}
table td {
	width:36px;
	height:36px;
	border-collapse:collapse;
	padding:0;
	margin:0;
}
table td input {
	border:none;
	width:34px;
	height:34px;
	font-size:18px;
	text-align:center;
	border:1px solid #333;
	border-radius:3px;
	color:#000;
	transition-property: background, color;
	transition-duration: 1s;
	
}
table td input.alt {
	background:#ddd;
	color:#000;
}
table td input.prepopulated{
	color:#000 !important;
	font-weight:bold;
	opacity:1 !important;
	-webkit-text-fill-color:#000;
}
table td input.playable {
	color:#c30;
}
table td input.inerror,
table td input.prepopulated.inerror {
	background:red !important;
	color:#fff;
	-webkit-text-fill-color:#fff;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield;
}
p .error {
	display:none;
	color:red;
}
p .ok {
	display:none;
}
p .notfilled, p .completed {
	font-weight:bold;
	display:none;
}
p .notfilled {
	font-size:0.8em;
	color:red;
}
p .completed {
	color:#c30;
}
button {
	margin:5px auto;
	display:block;
	font-size:1.1em;
	background:#fff;
	padding:5px;
	border:1px solid #999;
	border-radius:3px;
	color:#666;
	
}